<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>
        {% for post in posts %}
            <div>
                {% if post.image %}
                    <img src="{{ MEDIA_URL }}{{ post.image.url }}" alt="img">
                {% endif %}
                <p>published: {{ post.published_date }}</p>
                <h1><a href="">{{ post.title }}</a></h1>
                <p>{{ post.text|linebreaksbr }}</p>
            {% endfor %}
        </body>
    </html>
